# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**.png
**.gif
.vscode/**
**.parquet
**.log
examples/auth_config.py
examples/example_data/*.tif
examples/example_data/*.tif.ovr
testing/test_data/*.csv
testing/test_data/*.parquet
testing/test_data/*.xlsx
dev_sandbox/**
lake_erie_data/elements_data/**
lake_erie_data/nodes_data/**
brazil_data/**
.ipynb_checkpoints/**
xarray_data_accessor/.ipynb_checkpoints/**
